body {
	margin-left: 0px;
 	margin-right: 0px;
}
#demo {
    height: 600px;
    position: relative;
   /*  border:1px solid #ccc; */
    margin-left:0px;
    margin-right:0px;
    margin: 0px;
}
#amount {
    border:0;
    color:#f6931f;
    font-weight:bold;
}
#border {
    height: 600px;
    border:0px solid #ccc;
    background: lightblue;
    margin-left: 20px;
    margin-right: 20px;
}